requests
python-telegram-bot[ext]>=20.0 # Вказуємо версію для стабільності
Flask[async]>=2.3 # Використовуємо новішу версію Flask, якщо можливо
gunicorn>=20.0
uvicorn>=0.17 # Додано для асинхронного воркера Gunicorn
